<div class="page-container">
  <div class="container form-container">
    <div class="row justify-content-center main-form">
      <div class="justify-content-center row">
        <div class="label-div col-md-8">
          <img class="logo-div" height="100" src="assets\images\logo.png">
        </div>
      </div>
      <div class="col-md-12">
        <label class="lbl-title">WELCOME TO</label>
        <label class="lbl-title">CANTEEN MANAGEMENT SYSTEM</label>
      </div>
      <div class="justify-content-center row">
        <div class="col-md-6 fa-div">
          <i class="fa fa-angle-down"></i>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container main-div" id="content-wrap">
  <div class="justify-content-center row">
    <div class="col-md-12 div-home">
      <h1 class="lbl_main">Menus</h1>
    </div>
  </div>
  <div class="row justify-content-center main-div">
    <!-- menu -->
    <div class="col-md-12 col-lg-3" id="menu-sections">
      <ul class="menuCats" *ngFor = "let menuCategory of menuCategories">
        <li><a (click)="getMenu(menuCategory.id)">{{menuCategory.menuCategoriesName}}</a></li>
      </ul>
    </div>

    <div class="col-md-12 col-lg-8">
      <div class="menu-items" >
        <h4></h4>
        <dl *ngFor = "let menu of menus">
          <dt>{{menu.menu}}</dt>
          <dd>Rs. {{menu.price}}</dd>
          <dd *ngIf="menus?.length == 0">No menu Found</dd>
        </dl>
      </div>
    </div>
  </div>
</div>


<div class="main-div img-back" id="content-wrap">
  <div class="container">
    <div class="row container-bottom">
      <h2 style="color: #fff">Contact Us</h2>
      <form class="cf"
      [formGroup]="contactForm"
      #contactValue
      (ngSubmit)="onSubmit(contactForm.value)">
        <div class="half left cf">
          <input formControlName="userName" type="text" id="input-name" placeholder="Name">
          <input formControlName="email" type="email" id="input-email" placeholder="Email address">
          <input formControlName="subject" type="text" id="input-subject" placeholder="Subject">
        </div>
        <div class="half right cf">
          <textarea formControlName="message" name="message" type="text" id="input-message" placeholder="Message"></textarea>
        </div>
        <input [disabled]="!contactForm.valid" type="submit" value="Submit" id="input-submit">
      </form>
    </div>
  </div>
</div>
