//list of color, font and screen size variable
$color_1: white;
$font_family_1: "amaranth";
$color_2:#72BF44;
$color_3: #296733;
$color_4: #959492;
$break_small: 768px;
$break_medium: 992px;
$break_large: 1200px;


//admin portal title
.lbl-title {
  text-transform: uppercase;
  color: $color_1;
  font-family: $font_family_1;
  font-weight: 700;
  font-size: 1.5em;
  float: center;
  display: block;
  text-align: center;
}


.form-container{
  padding-top: 185px;
  padding-bottom: 2.5rem;
}

.page-container {
  background-position: center center;
  background-size: cover;
  background-image: url('/assets/images/Gauge1.jpg');
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  min-height: stretch;
  position: relative;
  min-height: 100vh;
}
.label-div {
  color: $color_1;
  font-weight: 200 !important;
  font-size: 25px;
  font-family: $font_family_1 !important;
  letter-spacing: 0.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-div {
  justify-content: center;
  display: flex;
  margin-top: 70px;
}
.fa-angle-down {
  color: $color_2;
  font-size: 50px !important;
  display: block;
}

.main-div {
  background-color: $color_1;
  margin-top: 20px;
}

@media (max-width: $break_medium){
  .main-form{
    padding-top: 15%;
  }
}

@media (max-width: $break_small){
  .main-form{
    padding-top: 20%;
  }
}

/*#endregion */


.inputVal{
  left: 10px !important;
}


ol, ul {
  list-style: none;
}



#menu-sections {
  margin-left: 15px;
  border: 2px solid #ED6919;
  padding: 10px;
}
#menu-sections li {
  margin: 5px 0;
}

.menuCats li a{
 color: rgb(175, 1, 44);
 font-style: bold;
 font-family: $font_family_1;
 font-size: 20px;
}



.menu-items h4 {
  text-transform: uppercase;
  font-family: 'LydianBT-Roman';
  font-size: 20px;
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
  color: rgb(241, 245, 7);
  border-bottom: 1px solid #2A2E37;
}

.menu-items dl {
  overflow: hidden;
  color: #fff;
}

dl {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.menu-items dt {
  float: left;
  clear: left;
  max-width: 300px;
}

.menu-items dt, .menu-items dd {
  font-family: 'LydianBT-Roman';
  color: #A03E14;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 8px;
}

.menu-items dd {
  float: right;
  clear: right;
}



.img-back {
  background-image: url('/assets/images/Gauge1.jpg');
  width: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: inset 0 0 0 1000px rgba(114, 245, 0, 0.3);
}

.container-bottom {
  padding-top: 60px;
  padding-bottom: 55px;
}



//////////////////form
@import url(https://fonts.googleapis.com/css?family=Merriweather);

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &:before, &:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

html, body {
  background: #f1f1f1;
  font-family: "Merriweather", sans-serif;
  padding: 1em;
}

h1 {
  text-align: center;
  color: #a8a8a8;
  text-shadow: 1px 1px 0 white;
}

form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
  input, textarea {
    border: 0;
    outline: 0;
    padding: 1em;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: "Merriweather", sans-serif;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    resize: none;
  }
  input:focus, textarea:focus {
    -moz-box-shadow: 0 0px 2px #e74c3c !important;
    -webkit-box-shadow: 0 0px 2px #e74c3c !important;
    box-shadow: 0 0px 2px #e74c3c !important;
  }
  #input-submit {
    color: white;
    background: #e74c3c;
    cursor: pointer;
    &:hover {
      -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
      -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
      box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
    }
  }
  textarea {
    height: 126px;
  }
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}

/* Clearfix */

.cf {
  &:before {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  &:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
    clear: both;
  }
}
