<div class="page-container">
  <div class="container form-container">
    <div class="row">
      <button mdbBtn type="button" color="indigo" size="lg" class="head-button" mdbWavesEffect>
        Food Order
      </button>
      <h2 style="color: #fff;">
        Please select the food and its quantity from the dropdown and place the
        order.
      </h2>
    </div>

    <form class="text-center" style="color: #757575;" [formGroup]="orderForm" #orderValue
    (ngSubmit)="OnSubmit(orderForm.value, invoice)">

    <div class="md-form mt-3">
      <input type="text" [validateSuccess]="false" [errorMessage]="'Please enter your name! '"
        formControlName="customerName" id="userNames" class="form-control text-color" mdbInput mdbValidate
        mdbInputDirective />
      <label for="userNames" class="lbl-div">Your Name</label>
    </div>

    <div class="md-form">
      <input type="number" [validateSuccess]="false" [errorMessage]="'Please enter your table number!  '"
        formControlName="tableNumber" id="tableNumbers" class="form-control text-color" mdbInput mdbValidate
        mdbInputDirective />
      <label for="tableNumbers" class="lbl-div">Table Number</label>
    </div>

    <!-- Select menu Name -->
    <div class="md-form mt-3">
      <mat-form-field class="drpdwn">
        <mat-select style="color: #fff" placeholder="Select Food Name" name="food" id="MenuId" formControlName="MenuId">
          <mat-option *ngFor="let menu of menus" [value]="menu">
            {{menu.menu}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button class="btn login-btn" type="submit" id="order" [disabled]="!orderForm.valid">
      Order
    </button>
  </form>
  </div>
</div>



<ng-template #invoice let-c="close" let-d="dismiss">

    <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title w-100" id="myModalLabel">INVOICE</h4>
    </div>
    <div class="modal-body">
      <div class="expanded" id="contentToConvert">
        <main class="columns">
          <div class="inner-container">
          <section class="">
            <div class="callout large invoice-container">
              <table class="invoice">
                <tr class="header">
                  <td class="">
                    <img src="assets/images/logo.png" height="30" alt="Company Name" />
                  </td>
                  <td class="align-right">
                    <h2>Invoice</h2>
                  </td>
                </tr>
                <tr class="intro">
                  <td class="">
                    Hello, {{userName}}<br>
                    Thank you for your order.
                  </td>
                  <td class="text-right">
                    {{currentDate }}
                  </td>
                </tr>
                <tr class="details">
                  <td colspan="2">
                    <table>
                      <thead>
                        <tr>
                          <th class="id spacing">Food Name</th>
                          <th class="desc spacing">Table Number</th>
                          <th class="amt spacing">Subtotal</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="item">
                          <td class="desc spacing">{{foodName}}</td>
                          <td class="id num spacing">{{tableNumber}}</td>
                          <td class="amt spacing">Rs. {{price}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr class="totals">
                  <td></td>
                  <td>
                    <table>
                      <tr class="subtotal">
                        <td class="num">Subtotal</td>
                        <td class="num">Rs. {{price}}</td>
                      <tr class="total">
                        <td>Total</td>
                        <td>Rs. {{totalPrice}}</td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
          </section>
          </div>
        </main>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="d('Cross click')" mdbWavesEffect>Close</button>
      <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="captureScreen()" mdbWavesEffect>Print</button>
    </div>

</ng-template>
