$color_1: white;
$color_2: #959492;
$color_3: #777674;
$color_4:#313132;
$break_small: 768px;
$break_large: 1200px;
$font_family_1: "Open Sans";

hr {
    background-color:$color_2;
    color:$color_1;
    transform:rotate(90deg);
    width:65px;
    height:0.5px;
    border:0px;
    margin-top: 30px;
}

.social-footer {
    padding: 1rem;
    background: $color_1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    .social-footer-icons {
      li:last-of-type {
        margin-right: 0;
      }
  
      .fa {
        font-size: 1.3rem;
        color: $color_2;
  
        &:hover {
          color: $color_3 !important;
          transition: color 0.3s ease-in;
        }
      }
    }
  }
  
a {
  color: $color_2 !important;
}

.list_media {
  display: flex !important;
  justify-content: center;
  padding-top: 5%;
}

.fa {
  font-size: 30px;
}

.page-footer {
  bottom: 0;
  width: 100%;
}

footer.page-footer {
  .footer-copyright {
    background-color: $color_4;
  } 
}

.list_first {
	a {
		color: $color_1 !important;
	}
}

.list_second {
	a {
		color: $color_1 !important;
	}
}

.fb_btn {
  height: 30px;
  width: 34px;
}

.twit_div {
  height: 35px;
  width: 35px;
  border-radius: 17px;
}

.btn {
  background: $color_2 !important;
  padding: 0;
  color: $color_4;
  margin-right: 30px;
  margin-left: 30px;
}

.btn-primary {
	&:not([disabled]) {
		&:not(.disabled) {
			&:active {
        background-color: $color_3 !important;
        color: $color_4 !important;
			}
		}
		&:not(.disabled).active {
      background-color: $color_3 !important;
      color: $color_4 !important;
		}
	}
}

.line_first {
  left: 9% !important;
  padding-top: 1%;
}

.line_second {
    left: -1% !important;
    padding-top: 1%;
}

.list_first {
  left: 5% !important;
  padding-top: 1%;
}

.list_second {
  left: -5% !important;
  padding-top: 1%;
}

.div_logo {
  padding-left: 55px !important;
  padding-top: 20px !important;
}

.mb-md-0 {
  text-align: left;
}

.list-unstyled {
  font-family: $font_family_1;
  font-weight: 400;
}

.footer-copyright {
  font-family: $font_family_1;
  font-weight: 300;
}

@media (max-width: $break_small){
  .div_logo {
    padding-left: 0px !important;
    padding-top: 0px !important;
    text-align: center !important;
  }

  hr {
    height: 0px !important;
  }

  .mb-md-0 {
    text-align: center;
  }

  .list_first {
    left: 0% !important;
    padding-top: 0;
  }

  .list_second {
    left: 0% !important;
    padding-top: 0;
  }

  .list_media {
    display: flex;
    justify-content: center;
    padding-top: 3%;
  }
}

.insta_div {
  font-size: 42px;
}

