<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mt-md-0 mt-3 div_logo">

        <img src="assets\images\logo.png" height="80"  alt="bt logo">
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-1 line_first">
        <hr class="ver_line">
      </div>

      <div class="col-md-2 mb-md-0 mb-3 list_first">

        <!-- Links -->

        <ul class="list-unstyled">
          <li>
            <a [routerLink]="'/home'">Home</a>
          </li>
          <li>
            <a [routerLink]="'/order'">Order</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->
      <div class="col-md-1 line_second">
        <hr class="ver_line">
      </div>
      <!-- Grid column -->
      <div class="col-md-2 mb-md-0 mb-3 list_second">

        <!-- Links -->

        <ul class="list-unstyled">
          <li>
            <a [routerLink]="'/contactUs'">Contact Us</a>
          </li>
          <li>
            <a [routerLink]="'/home'">Menu</a>
          </li>
        </ul>

      </div>
      <div class="col-md-3 mb-md-0 mb-3 social-footer-icons">
        <!-- Links -->

        <ul class="list-unstyled list_media">
          <li>
            <a href="https://www.facebook.com/" target="_blank">
              <button class="fb_btn  btn btn-primary">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </button>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/?hl=en" target="_blank">
              <i class="fa fa-instagram insta_div" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/?lang=en" target="_blank">
              <button class="twit_div btn btn-primary">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </button>
            </a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Copyright © 2019.
    <a href="#">Canteen Management System</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
