<div class="page-container">
    <div class="container form-container">
      <div class="row justify-content-center main-form">
        <div class="col-md-6">
          <label class="lbl-title">LOGIN PORTAL</label>
          <form
            class="text-center"
            style="color: #757575;"
            [formGroup]="loginForm"
            #loginValue
            (ngSubmit)="onLogin(loginForm.value)"
          >
            <div class="md-form mt-3">
              <input
                type="text"
                [validateSuccess]="false"
                [errorMessage]="'Please enter your valid user name! '"
                formControlName="userName"
                id="userNames"
                class="form-control text-color"
                mdbInput
                mdbValidate
                mdbInputDirective
              />
              <label for="userNames" class="lbl-div">Username</label>
            </div>

            <div class="md-form">
              <input
                type="password"
                [validateSuccess]="false"
                [errorMessage]="'Please enter your valid password!  '"
                formControlName="password"
                id="passwords"
                class="form-control text-color"
                mdbInput
                mdbValidate
                mdbInputDirective
              />
              <label for="passwords" class="lbl-div">Password</label>
            </div>
            <div class="forgot-password-div">
              <a [routerLink]="['/forgotpassword']">
                <span class="forgot-password">Forgot Password?</span>
              </a>
            </div>
            <button
              class="btn login-btn"
              type="submit"
              id="login"
              [disabled]="!loginForm.valid"
            >
              Login
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
