﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>BidATrade</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        .navbar-inverse {
            background-color: transparent;
            border-color: transparent;
        }

        .jumbotron {
            background-color: transparent;
        }
    </style>
</head>
<body style="background-color:#1D1A0B;">
    @*<nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <img class="bidatrade_logo" src="~/Images/logo.png" height="50" margin-left="60" margin-top="30" />
        </div>
    </nav>*@

    <div class="jumbotron">
        <div class="container text-center">
            @RenderBody()
        </div>
    </div>
</body>
</html>