<div class="page-container">
    <div class="container form-container">
      <div class="row justify-content-center main-form">
        <div class="col-md-6">
          <label class="lbl-title">FORGOT PASSWORD</label>
          <form
            class="text-center"
            style="color: #757575;"
            [formGroup]="forgotPasswordForm"
            #emailValue
            (ngSubmit)="onSubmit(forgotPasswordForm.value)">
            <div class="md-form mt-3">
              <input
                type="text"
                [validateSuccess]="false"
                [errorMessage]="'Please enter your valid email! '"
                formControlName="email"
                id="email"
                class="form-control text-color"
                mdbInput mdbValidate
                mdbInputDirective />
              <label for="email" class="lbl-div">Email</label>
            </div>
          <button class="btn submit-btn" type="submit" id="submit" [disabled]="!forgotPasswordForm.valid">
            Submit
          </button>
        </form>
        </div>
      </div>
    </div>
  </div>
