//list of color, font and screen size variable
$color_1: white;
$font_family_1: "Open Sans";
$color_2:#72BF44;
$color_3: #296733;
$color_4: #959492;
$break_small: 768px;
$break_medium: 992px;
$break_large: 1200px;



//admin portal title
.lbl-title {
    text-transform: uppercase;
    color: $color_1;
    font-family: $font_family_1;
    font-weight: 700;
    font-size: 1.5em;
    float: center;
    display: block;
    text-align: center;
}

//main page container
.page-container {
  background-position: center center;
  background-size: cover;
  background-image: url('/assets/images/Gauge1.jpg');
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  min-height: stretch;
  position: relative;
  min-height: 100vh;
}

.form-container{
  padding-top: 100px;
  padding-bottom: 2.5rem;
}

.main-form{
  padding-top: 10%;
}

//scss to change input type text and password color on change
input{
  &[type=text]:focus:not([readonly]) + label, &[type=password]:focus:not([readonly]) + label{
    color: $color_2;
  }
}

input {
  &[type=text]:focus:not([readonly]), &[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid $color_2;
    box-shadow: 0 1px 0 0 $color_2;
  }
}

//scss to make placeholder text white
.md-form label{
  color: $color_1;
}



//for login button
.submit-btn {
	background-image: linear-gradient(to right, #72BF44 0%, #72BF44 21%, #296733 100%);
	color: $color_1;
	font-size: 15px;
	border-radius: 35px;
	width: 150px !important;
  text-align: center;
  font-family: $font_family_1;
  line-height: 0.5;
  font-weight: 600;
  margin:0 auto;
}

//email text color
.text-color{
  color: $color_1;
  padding-left: 10px;
}

/*#region ResponsiveDesign*/
/*Author: Anant Karna
Description: Media query for adding space in main division*/
@media (max-width: $break_medium){
  .main-form{
    padding-top: 15%;
  }
}

@media (max-width: $break_small){
  .main-form{
    padding-top: 20%;
  }
}

/*#endregion */

//padding to move text 10px right
.inputVal{
  left: 10px !important;
}
