<!-- check if user has logged in or out -->
<ng-template *ngIf="show; then showBlock; else notShowBlock"> </ng-template>
<!-- show this block when user has logged it -->
<ng-template #showBlock>
  <div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar style="Background-Color: #000" class="example-toolbar">
      <mat-icon (click)="sidenav.toggle()" class="sidenav-menu" style="color : #fff">menu</mat-icon>
      <img src="assets\images\logo.png" height="50" class="img-logo1" alt="bt logo">
      <a (click)="logout()" class="logout-btn" style="color:#fff; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif" mdbWavesEffect>LOG OUT</a>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #sidenav mode="side" class="example-sidenav" [ngStyle]="{ 'width.em': sidenavWidth }" opened="true"
        (mouseenter)="increase()" (mouseleave)="decrease()" [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">

        <mat-nav-list>
          <mat-list-item [routerLink]="'/admin/dashboard'" routerLinkActive="active">
            <mat-icon mat-list-icon>dashboard</mat-icon>
            <div fxFlex="10"></div>
            <div *ngIf="sidenavWidth > 6" class="sidenav-item">
              <h5 class="lead">Dashboard</h5>
            </div>
          </mat-list-item>

          <mat-list-item [routerLink]="'/admin/menuCategory'" routerLinkActive="active">
            <mat-icon mat-list-icon>restaurant_menu</mat-icon>
            <div fxFlex="10"></div>
            <div *ngIf="sidenavWidth > 6" class="sidenav-item">
              <h5 class="lead">Menu Category</h5>
            </div>
          </mat-list-item>

          <mat-list-item [routerLink]="'/admin/menu'" routerLinkActive="active">
            <mat-icon mat-list-icon>menu</mat-icon>
            <div fxFlex="10"></div>
            <div *ngIf="sidenavWidth > 6" class="sidenav-item">
              <h5 class="lead">Menu</h5>
            </div>
          </mat-list-item>

          <mat-list-item [routerLink]="'/admin/foorOrder'" routerLinkActive="active">
            <mat-icon mat-list-icon>shopping_cart</mat-icon>
            <div fxFlex="10"></div>
            <div *ngIf="sidenavWidth > 6" class="sidenav-item">
              <h5 class="lead">Order</h5>
            </div>
          </mat-list-item>

          <mat-list-item *ngIf="userRole == 'SuperAdmin'" [routerLink]="'/admin/createStaff'" routerLinkActive="active">
            <mat-icon  mat-list-icon>supervised_user_circle</mat-icon>
            <div fxFlex="10"></div>
            <div *ngIf="sidenavWidth > 6" class="sidenav-item">
              <h5 class="lead">Create Staff</h5>
            </div>
          </mat-list-item>

        </mat-nav-list>
      </mat-sidenav>

      <!-- display all the admin component -->
      <div class="example-sidenav-content">
        <router-outlet></router-outlet>
        <app-footer></app-footer>
      </div>
    </mat-sidenav-container>
  </div>
</ng-template>

<!-- show this block when user has logged out -->
<ng-template #notShowBlock>
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="collapsibleNav">
      <!-- show this block when user has logged in -->
      <!-- Collapse button -->
      <div class="row">
        <div class="col-md-12">
          <div id="content">
            <a [routerLink]="['/admin/login']">
              <img src="assets\images\logo.png" height="90" alt="bt logo" />
            </a>
          </div>
        </div>
      </div>
      <!-- Links -->
    </div>
    <!-- Collapsible content -->
  </nav>
  <!--/.Navbar-->
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</ng-template>
