$color_1: #fff;
$font_family_1: "Open Sans";
$break_extrasmall: 400px;
$break_small: 768px;
$break_medium: 992px;
$break_large: 1400px;

#nav_menu a {
	color: $color_1 !important;
	font-size: 15px !important;
	font-family: $font_family_1;
	font-weight: 900;
}

#nav_menu {
	a {
		&:focus {
			font-family: $font_family_1 !important;
			font-weight: 300 !important;
		}
	}
}

.navbar-link {
	font-family: $font_family_1;

	&.active {
		color: red !important;
	}
}

.nav-item a :active{
	font-family: $font_family_1 !important;
	font-weight: 300 !important;
}

.logout-btn {
	background-image: linear-gradient(to right, #72BF44 0%, #72BF44 21%, #296733 100%);
	color: $color_1;
	border-radius: 35px;
	width: 150px !important;
	text-align: center;
	font-family: $font_family_1;
	font-weight: 600;
}

.navbar {
	position: fixed;
	height: 100px;
	width: 100%;
	z-index: 1;
}

#content {
	img {
		position: fixed;
		margin-left: 60px;
		margin-top: -20px;
	}
}

#logout_btn{
  float: right;
}

#content img {
  position: fixed;
}

#collapsibleNav {
	display: block;
}

.img-logo1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fa-2x {
	padding-left: 25px;
}

.ml-auto {
	list-style: none;
}

.col-md-7 {
	justify-content: right;
}

.col-md-5 {
	justify-content: right;
}

.col-md-7 {
    flex: 0 0 56.333%;
	max-width: 56.333%;
}

.logout-btn {
	color: $color_1;
	cursor: pointer;
}

/*#region ResponsiveDesign*/
/*Author: Anant Karna
Description: Media query for logo image and header elements*/

@media (max-width: $break_extrasmall){

	.img-logo1 {
		width: 150px;
	}
}

@media (max-width: $break_small) {
    .navbar-collapse  {
        display: block;
	}

	#content {
		img {
			position: fixed;
			margin-left: 35px;
			margin-top: -20px;
		}
	}
}

@media (max-width: $break_medium){

	.img-logo3 {
		display: none;
	}

	.img-logo1 {
		display: block;
		padding-top: 7px;
	}

	.fa-2x {
		display: none;
	}

	.img-logo2 {
		display: none;
	}

	.logout-btn {
		color: $color_1;
		cursor: pointer;
	}

	.text-md-right {
		display: none;
	}
	.logout-div {
		padding-left: 0% !important;
		justify-content: left;
	}
}

@media (min-width: $break_medium){
	.lg-btn {
		display: none;
	}

	.img-logo3 {
		display: none;
	}

	.nav-item {
		list-style: none;
	}

	.logout-div {
		color: $color_1;
		padding-top: 5px;
	}
}

@media (max-width: $break_large){

	.col-md-7 {
		flex: 0 0 57.333%;
		max-width: 57.333%;
	}
}

@media (min-width: $break_large){

	.col-md-7 {
		flex: 0 0 55.333%;
		max-width: 55.333%;
	}
}

/*#endregion */










//////////////////////////////////////////////////////////////////////
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
