$color_1: white;
$font_family_1: "amaranth";
$color_2:rgb(131, 230, 40);
$color_3: #ED6919;
$color_4: #959492;
$break_eextrasmall: 350px;
$break_extrasmall : 575px;
$break_small: 768px;
$break_medium: 992px;
$break_large: 1200px;


// main container of the page
.page-container {
  position: relative;
  min-height: 100vh;
}

//division wrapper with height of footer
.main-div{
  padding-top: 5%;
  padding-bottom: 5%;
}

//scss to change input type text and password color on change
input{
  &[type=text]:focus:not([readonly]) + label, &[type=number]:focus:not([readonly]) + label{
    color: $color_2;
  }
}

input {
  &[type=text]:focus:not([readonly]), &[type=number]:focus:not([readonly]) {
    border-bottom: 1px solid $color_2;
    box-shadow: 0 1px 0 0 $color_2;
  }
}

textarea{
  &[type=text]:focus:not([readonly]) + label, &[type=number]:focus:not([readonly]) + label{
    color: $color_2;
  }
}

textarea {
  &[type=text]:focus:not([readonly]), &[type=number]:focus:not([readonly]) {
    border-bottom: 1px solid $color_2;
    box-shadow: 0 1px 0 0 $color_2;
  }
}

//for login button
.login-btn {
	background-image: linear-gradient(to right, #72BF44 0%, #72BF44 21%, #296733 100%);
	color: $color_1;
	font-size: 15px;
	border-radius: 35px;
	width: 150px !important;
  text-align: center;
  font-family: $font_family_1;
  line-height: 0.5;
  font-weight: 600;
  margin:0 auto;
}


//for table
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

td[_ngcontent-c36], th[_ngcontent-c36] {
  width: 15%;
}
