﻿@model CanteenManagementSystem.API.DataTransferObject.EmailConfirmationDTO
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}
<link href="~/Content/style.css" rel="stylesheet" />

<div class='navbar-form'>
    <div class="form-group">
        <p style="font-size:large; color:white">
            @if (Model.Success)
            {
                <b> EMAIL CONFIRMED SUCCESSFULLY. </b>
            }
            else
            {
                <b> THE CONFIRMATION TOKEN IS EXPIRED. </b>
                @using (Html.BeginForm("SendReconfirmationEmail", "Accounts", FormMethod.Post))
                {
                    <br />
                    @Html.HiddenFor(m => m.Username)
                    <div class="justify-content">
                        <input type="submit" value="Resend Confirmation" id="submitButton" class="btn btn-primary" />
                    </div>
                }
            }
        </p>
    </div>
</div>