<div class="page-container">
  <div class="container main-div" id="content-wrap">
    <!-- Bread crumb -->
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-primary">Dashboard</h3>
      </div>
      <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="javascript:void(0)">Add</a>
          </li>
          <li class="breadcrumb-item">Add Staff</li>
        </ol>
      </div>
    </div>
    <!-- End Bread crumb -->

    <!-- add menu form -->
    <form class="text-center" style="color: #757575;" [formGroup]="registerForm" #registerValue
      (ngSubmit)="OnSubmit(registerForm.value)">

      <div class="md-form mt-3">
          <input type="text" [validateSuccess]="false" [errorMessage]="'Please enter your prefered user name! '"
            formControlName="userName" id="userNames" class="form-control text-color" mdbInput mdbValidate
            mdbInputDirective />
          <label for="userNames" class="lbl-div">Username</label>
        </div>


      <div class="md-form mt-3">
        <input type="email" [validateSuccess]="false" [errorMessage]="'Please enter your email address! '"
          formControlName="email" id="emails" class="form-control text-color" mdbInput mdbValidate mdbInputDirective />
        <label for="emails" class="lbl-div">Email</label>
      </div>

      <div class="md-form">
        <input type="password" [validateSuccess]="false" [errorMessage]="'Please enter your valid password!  '"
          formControlName="password" id="passwords" class="form-control text-color" mdbInput mdbValidate
          mdbInputDirective />
        <label for="passwords" class="lbl-div">Password</label>
      </div>

      <div class="md-form">
        <input type="password" [validateSuccess]="false" [errorMessage]="'Please enter your valid password!  '"
          formControlName="confirmPassword" id="confirmPasswords" class="form-control text-color" mdbInput mdbValidate
          mdbInputDirective />
        <label for="confirmPasswords" class="lbl-div">Confirm Password</label>
      </div>
       <!-- submit button -->
       <button class="btn btn-outline-indigo" [disabled]="!registerForm.valid" type="submit">Register
          <i class="fa fa-paper-plane-o ml-2"></i>
        </button>
    </form>
    <hr>
    <!--Table-->
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- SN Column -->
        <ng-container matColumnDef="id">
          <th class="mdb-color darken-3" style="color: #fff" mat-header-cell *matHeaderCellDef mat-sort-header> S.N.
          </th>
          <td mat-cell *matCellDef="let row; let i = index;"> {{i+1}} </td>
        </ng-container>

        <!-- Food Cateogry Name Column -->
        <ng-container matColumnDef="userName">
          <th class="mdb-color darken-3" style="color: #fff" mat-header-cell *matHeaderCellDef mat-sort-header> User Name
            Category Name </th>
          <td mat-cell *matCellDef="let row"> {{row.userName}} </td>
        </ng-container>

        <!-- Remarks Column -->
        <ng-container matColumnDef="email">
          <th class="mdb-color darken-3" style="color: #fff" mat-header-cell *matHeaderCellDef mat-sort-header> Email
          </th>
          <td mat-cell *matCellDef="let row"> {{row.email}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="emailConfirmed">
          <th class="mdb-color darken-3" style="color: #fff" mat-header-cell *matHeaderCellDef mat-sort-header> Email Confirmed
          </th>
          <td mat-cell *matCellDef="let row"> {{row.emailConfirmed}} </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
    <!--Table-->
  </div>
</div>
