//list of color, font and screen size variable
$color_1: white;
$font_family_1: "Open Sans";
$color_2:#72BF44;
$color_3: #296733;
$color_4: #959492;
$break_small: 768px;
$break_medium: 992px;
$break_large: 1200px;

//background image
#back_img{
  width: 100% !important;
  object-fit: inherit
}

// main container of the page
.page-container {
  position: relative;
  min-height: 100vh;
}

//division wrapper with height of footer
.main-div{
  padding-top: 5%;
  padding-bottom: 5%;
}
//for table
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

//scss to change input type text and password color on change
input{
  &[type=text]:focus:not([readonly]) + label, &[type=password]:focus:not([readonly]), &[type=email]:focus:not([readonly]) + label{
    color: $color_2;
  }
}

input {
  &[type=text]:focus:not([readonly]), &[type=password]:focus:not([readonly]), &[type=email]:focus:not([readonly]) {
    border-bottom: 1px solid $color_2;
    box-shadow: 0 1px 0 0 $color_2;
  }
}

td[_ngcontent-c27], th[_ngcontent-c27] {
  width: 15%;
}
