/* You can add global styles to this file, and also import other style files */
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
$color_1:#313132;
$break_medium: 992px;

/*Custom font added with relative font weight*/
@font-face {
    font-family: 'amaranth';
    font-style: normal;
    font-weight: 400;
    src: url('../src//assets/fonts/amaranth/Amaranth-Regular.otf');
  }

  @font-face {
    font-family: 'amaranth';
    font-style: boldItalic;
    font-weight: 600;
    src: url('../src/assets/fonts/amaranth/Amaranth-BoldItalic.otf');
  }

  @font-face {
    font-family: 'amaranth';
    font-style: bold;
    font-weight: 700;
    src: url('../src/assets/fonts/amaranth/Amaranth-Bold.otf');
  }

  @font-face {
    font-family: 'amaranth';
    font-style: italic;
    font-weight: 300;
    src: url('../src/assets/fonts/amaranth/Amaranth-Italic.otf');
  }

.bg-primary {
  background-color: transparent !important;
}

.navbar {
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0) !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.blue {
  background-color: $color_1 !important;
}

.primary-color {
  background-color: transparent !important;
  position: absolute;
  z-index: 1;
  width: 100%;
  margin: 0;
}

.black-color{
  background-color: black !important;
}

.black-bg {
	background: black !important;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

//height of the navbar
@media (min-width: $break_medium) {
	.navbar {
		height: 100px;;
	}
}

.nav-container {
	display: flex;
	width: 100%;
	.navbar {
		background: #000 !important;
	}
	#safari {
		.navbar {
			background: #000 !important;
		}
	}
	&--transparent {
		.navbar {
			background: transparent !important;
		}
	}
}


