<div class="page-container">
  <div class="container main-div" id="content-wrap">
    <!-- Bread crumb -->
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-primary">Dashboard</h3>
      </div>
      <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="javascript:void(0)">Add</a>
          </li>
          <li class="breadcrumb-item">Menu Category</li>
        </ol>
      </div>
    </div>
    <!-- End Bread crumb -->

    <!-- add menu form -->
    <form class="text-center" style="color: #757575;" [formGroup]="menuForm" #loginValue
      (ngSubmit)="OnSubmit(menuForm.value)">

        <input type="text" [validateSuccess]="false" [errorMessage]="'Please enter the Food name! '"
          formControlName="id" style="visibility: hidden" id="id" class="form-control text-color" mdbInput mdbValidate
          mdbInputDirective />

      <!-- For food category name -->
      <div class="md-form mt-3">
        <input type="text" [validateSuccess]="false" [errorMessage]="'Please enter the Food name! '"
          formControlName="MenuCategoryName" id="MenuCategoryNames" class="form-control text-color" mdbInput mdbValidate
          mdbInputDirective />
        <label for="MenuCategoryNames" class="lbl-div">Food Category Name</label>
      </div>

      <!-- for category remarks -->
      <div class="md-form">
        <textarea type="text" [validateSuccess]="false" formControlName="Remarks" id="Remarks"
          class="form-control md-textarea text-color" mdbInput mdbValidate mdbInputDirective></textarea>
        <label for="Remarks" class="lbl-div">Remarks</label>
      </div>

      <!-- submit button -->
      <button class="btn btn-outline-indigo" [disabled]="!menuForm.valid" type="submit">Submit
        <i class="fa fa-paper-plane-o ml-2"></i>
      </button>
    </form>
    <hr>
    <!--Table-->
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- SN Column -->
        <ng-container matColumnDef="id">
          <th class="mdb-color darken-3" style="color: #fff" mat-header-cell *matHeaderCellDef mat-sort-header> S.N.
          </th>
          <td mat-cell *matCellDef="let row; let i = index;"> {{i+1}} </td>
        </ng-container>

        <!-- Food Cateogry Name Column -->
        <ng-container matColumnDef="menuCategoriesName">
          <th class="mdb-color darken-3" style="color: #fff" mat-header-cell *matHeaderCellDef mat-sort-header> Food
            Category Name </th>
          <td mat-cell *matCellDef="let row"> {{row.menuCategoriesName}} </td>
        </ng-container>

        <!-- Remarks Column -->
        <ng-container matColumnDef="remarks">
          <th class="mdb-color darken-3" style="color: #fff" mat-header-cell *matHeaderCellDef mat-sort-header> Remarks
          </th>
          <td mat-cell *matCellDef="let row"> {{row.remarks}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th class="mdb-color darken-3" style="color: #fff" mat-header-cell *matHeaderCellDef mat-sort-header> Action
          </th>
          <td mat-cell *matCellDef="let row">
            <i mdbTooltip="Edit category" placement="right" class="fa fa-pencil-square" (click)="showForEdit(row)"></i> |
              <i mdbTooltip="Delete category" placement="right" class="fa fa-trash" (click)="onDelete(row.id)"></i>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
    <!--Table-->
  </div>
</div>
