$color_1: white;
$font_family_1: "amaranth";
$color_2:rgb(131, 230, 40);
$color_3: #ED6919;
$color_4: #959492;
$break_eextrasmall: 350px;
$break_extrasmall : 575px;
$break_small: 768px;
$break_medium: 992px;
$break_large: 1200px;


// main container of the page
.page-container {
  position: relative;
  min-height: 100vh;
}

//division wrapper with height of footer
.main-div{
  padding-top: 5%;
  padding-bottom: 5%;
}

//for table
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
td[_ngcontent-c27], th[_ngcontent-c27] {
   width: 15%;
}
