// $color_1: #fff;
$font_family_1: "amaranth";



#nav {
  height: 70px;
  background: transparent; // Transparent initial setting
  display: block;
  position: fixed;
  width: 100%;
  z-index: 99999;
  transition: all ease .5s;
}

#logo {
  color: #fff;
  padding: 20px;
  font-style: italic;
  font-family: $font_family_1;
  font-size: 18px;
  transition: all ease .5s;
}


