<mdb-navbar  class="nav-container"
              SideClass="navbar navbar-light navbar-expand-lg"
              [class.nav-container--transparent]="transparent">

  <mdb-navbar-brand>
    <a class="navbar-brand" [routerLink]="['/home']">
      <img src="../../../../assets/images/logo.png" height="80" class="d-inline-block align-top" alt="">
    </a>
  </mdb-navbar-brand>


  <links>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" id="logo" [routerLink]="['/home']" mdbWavesEffect> Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" id="logo" [routerLink]="['/contactUs']" mdbWavesEffect> Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" id="logo" [routerLink]="['/order']" mdbWavesEffect> Order</a>
      </li>
      <!-- <li class="nav-item">
          <a class="nav-link waves-light" id="logo" [routerLink]="['/login']" mdbWavesEffect> Sign In</a>
        </li> -->
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->


</mdb-navbar>

<!--/.Navbar-->
