$color_1: white;
$font_family_1: "amaranth";
$color_2:#72BF44;
$color_3: #296733;
$color_4: #959492;
$break_small: 768px;
$break_medium: 992px;
$break_large: 1200px;

//admin portal title
.lbl-title {
  text-transform: uppercase;
  color: $color_1;
  font-family: $font_family_1;
  font-weight: 700;
  font-size: 1.5em;
  float: center;
  display: block;
  text-align: center;
}


.form-container{
  padding-top: 185px;
}

.page-container {
  background-position: center center;
  background-size: cover;
  background-image: url('/assets/images/Gauge1.jpg');
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  min-height: stretch;
  position: relative;
  min-height: 100vh;
}

// for form
@import url(https://fonts.googleapis.com/css?family=Merriweather);

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &:before, &:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

html, body {
  background: #f1f1f1;
  font-family: "Merriweather", sans-serif;
  padding: 1em;
}

h1 {
  text-align: center;
  color: #a8a8a8;
  text-shadow: 1px 1px 0 white;
}

form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
  input, textarea {
    border: 0;
    outline: 0;
    padding: 1em;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: "Merriweather", sans-serif;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    resize: none;
  }
  input:focus, textarea:focus {
    -moz-box-shadow: 0 0px 2px #e74c3c !important;
    -webkit-box-shadow: 0 0px 2px #e74c3c !important;
    box-shadow: 0 0px 2px #e74c3c !important;
  }
  #input-submit {
    color: white;
    background: #e74c3c;
    cursor: pointer;
    &:hover {
      -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
      -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
      box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
    }
  }
  textarea {
    height: 126px;
  }
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}

/* Clearfix */

.cf {
  &:before {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  &:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
    clear: both;
  }
}
