<div class="page-container">
  <div class="container form-container">
    <div class="row justify-content-center main-form">
      <h2 style="color: #fff">Contact Us</h2>
      <form class="cf"
      [formGroup]="contactForm"
      #contactValue
      (ngSubmit)="onSubmit(contactForm.value)">
        <div class="half left cf">
          <input formControlName="userName" type="text" id="input-name" placeholder="Name">
          <input formControlName="email" type="email" id="input-email" placeholder="Email address">
          <input formControlName="subject" type="text" id="input-subject" placeholder="Subject">
        </div>
        <div class="half right cf">
          <textarea formControlName="message" name="message" type="text" id="input-message" placeholder="Message"></textarea>
        </div>
        <input [disabled]="!contactForm.valid" type="submit" value="Submit" id="input-submit">
      </form>
    </div>
  </div>
</div>

