<div class="page-container">
  <div class="container main-div" id="content-wrap">
    <!-- Bread crumb -->
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-primary">Dashboard</h3>
      </div>
      <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="javascript:void(0)">Add</a>
          </li>
          <li class="breadcrumb-item">Food Order</li>
        </ol>
      </div>
    </div>
    <!-- End Bread crumb -->
    <button *ngIf="userRole == 'SuperAdmin'" (click)="show(perDaySales)"
            mdbBtn type="button" color="indigo" size="lg" class="head-button" mdbWavesEffect>
        Per Day Sales
      </button>
    <!--Table-->
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- SN Column -->
        <ng-container matColumnDef="id">
          <th class="mdb-color darken-3" style="color: #fff" mat-header-cell *matHeaderCellDef mat-sort-header> S.N.
          </th>
          <td mat-cell *matCellDef="let row; let i = index;"> {{i+1}} </td>
        </ng-container>

        <!-- Food Cateogry Name Column -->
        <ng-container matColumnDef="menuCatrogoryName">
          <th class="mdb-color darken-3" style="color: #fff" mat-header-cell *matHeaderCellDef mat-sort-header> Food
            Category Name </th>
          <td mat-cell *matCellDef="let row"> {{row.menuCatrogoryName}} </td>
        </ng-container>

        <!-- Food Name Column -->
        <ng-container matColumnDef="menuName">
          <th class="mdb-color darken-3" style="color: #fff" mat-header-cell *matHeaderCellDef mat-sort-header> Food
            Name </th>
          <td mat-cell *matCellDef="let row"> {{row.menuName}} </td>
        </ng-container>

        <!-- User Name Column -->
        <ng-container matColumnDef="userName">
            <th class="mdb-color darken-3" style="color: #fff" mat-header-cell *matHeaderCellDef mat-sort-header> User
              Name </th>
            <td mat-cell *matCellDef="let row"> {{row.customerName}} </td>
          </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="totalPrice">
          <th class="mdb-color darken-3" style="color: #fff" mat-header-cell *matHeaderCellDef mat-sort-header> Total Price
          </th>
          <td mat-cell *matCellDef="let row"> {{row.totalPrice}} </td>
        </ng-container>

        <!-- Remarks Column -->
        <ng-container matColumnDef="orderRemarks">
          <th class="mdb-color darken-3" style="color: #fff" mat-header-cell *matHeaderCellDef mat-sort-header> Remarks
          </th>
          <td mat-cell *matCellDef="let row"> {{row.orderRemarks}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th class="mdb-color darken-3" style="color: #fff" mat-header-cell *matHeaderCellDef mat-sort-header> Action
          </th>
          <td mat-cell *matCellDef="let row">
            <!-- <mat-checkbox (change)="changeCheck($event)">
            </mat-checkbox>  | -->
            <i mdbTooltip="View Invoice" placement="right" id="{{row.id}}" class="fas fa-file-invoice" (click)="open(row, invoice)"></i>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
    <!--Table-->
  </div>
</div>



<ng-template #invoice let-c="close" let-d="dismiss">

      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">INVOICE</h4>
      </div>
      <div class="modal-body">
        <div class="expanded" id="contentToConvert">
          <main class="columns">
            <div class="inner-container">
            <section class="">
              <div class="callout large invoice-container">
                <table class="invoice">
                  <tr class="header">
                    <td class="">
                      <img src="assets/images/logo.png" height="30" alt="Company Name" />
                    </td>
                    <td class="align-right">
                      <h2>Invoice</h2>
                    </td>
                  </tr>
                  <tr class="intro">
                    <td class="">
                      Hello, {{customerName}}<br>
                      Thank you for your order.
                    </td>
                    <td class="text-right">
                      {{currentDate }}
                    </td>
                  </tr>
                  <tr class="details">
                    <td colspan="2">
                      <table>
                        <thead>
                          <tr>
                            <th class="desc">Food Category Name</th>
                            <th class="id">Food Name</th>
                            <th class="id">Table Number</th>
                            <th class="amt">Subtotal</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="item">
                            <td class="desc">{{catName}}</td>
                            <td class="id num">{{foodName}}</td>
                             <td class="id num">{{tableNumber}}</td>
                            <td class="amt">Rs. {{price}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr class="totals">
                    <td></td>
                    <td>
                      <table>
                        <tr class="subtotal">
                          <td class="num">Subtotal</td>
                          <td class="num">Rs. {{price}}</td>
                        <tr class="total">
                          <td>Total</td>
                          <td>Rs. {{totalPrice}}</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            </section>
            </div>
          </main>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="d('Cross click')" mdbWavesEffect>Close</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="captureScreen()" mdbWavesEffect>Print</button>
      </div>

</ng-template>

<ng-template #perDaySales let-c="close" let-d="dismiss">

    <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title w-100" id="myModalLabel">INVOICE</h4>
    </div>
    <div class="modal-body">
      <!--Table-->
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="perDaySale" matSort>

          <!-- SN Column -->
          <ng-container matColumnDef="id">
            <th class="mdb-color darken-3" style="color: #fff" mat-header-cell *matHeaderCellDef mat-sort-header> S.N.
            </th>
            <td mat-cell *matCellDef="let row; let i = index;"> {{i+1}} </td>
          </ng-container>

          <!-- Food Cateogry Name Column -->
          <ng-container matColumnDef="menuCatrogoryName">
            <th class="mdb-color darken-3" style="color: #fff" mat-header-cell *matHeaderCellDef mat-sort-header> Food
              Category Name </th>
            <td mat-cell *matCellDef="let row"> {{row.menuCatrogoryName}} </td>
          </ng-container>

          <!-- Food Name Column -->
          <ng-container matColumnDef="menuName">
            <th class="mdb-color darken-3" style="color: #fff" mat-header-cell *matHeaderCellDef mat-sort-header> Food
              Name </th>
            <td mat-cell *matCellDef="let row"> {{row.menuName}} </td>
          </ng-container>

          <!-- User Name Column -->
          <ng-container matColumnDef="userName">
              <th class="mdb-color darken-3" style="color: #fff" mat-header-cell *matHeaderCellDef mat-sort-header> User
                Name </th>
              <td mat-cell *matCellDef="let row"> {{row.customerName}} </td>
            </ng-container>

          <!-- Price Column -->
          <ng-container matColumnDef="totalPrice">
            <th class="mdb-color darken-3" style="color: #fff" mat-header-cell *matHeaderCellDef mat-sort-header> Total Price
            </th>
            <td mat-cell *matCellDef="let row"> {{row.totalPrice}} </td>
          </ng-container>

          <!-- Remarks Column -->
          <ng-container matColumnDef="orderRemarks">
            <th class="mdb-color darken-3" style="color: #fff" mat-header-cell *matHeaderCellDef mat-sort-header> Remarks
            </th>
            <td mat-cell *matCellDef="let row"> {{row.orderRemarks}} </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th class="mdb-color darken-3" style="color: #fff" mat-header-cell *matHeaderCellDef mat-sort-header> Action
            </th>
            <td mat-cell *matCellDef="let row">
              <!-- <mat-checkbox [(ngModel)]="myModel" class="example-margin">
              </mat-checkbox>  | -->
              <i mdbTooltip="View Invoice" placement="right" class="fas fa-file-invoice" (click)="open(row, invoice)"></i>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
      <!--Table-->
    </div>

    <div class="modal-footer">
      <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="d('Cross click')" mdbWavesEffect>Close</button>
    </div>

</ng-template>
