$color_1: white;
$font_family_1: "amaranth";
$color_2:rgb(131, 230, 40);
$color_3: #ED6919;
$color_4: #959492;
$break_eextrasmall: 350px;
$break_extrasmall : 575px;
$break_small: 768px;
$break_medium: 992px;
$break_large: 1200px;

//btn gradient
.gradient-btn{
  background-color: $color_2;
	color: $color_1;
  font-size: small;
  font-family: $font_family_1;
	border-radius: 35px;
  text-align: center;
  margin: 0rem;
}

// main container of the page
.page-container {
  position: relative;
  min-height: 100vh;
}

//division wrapper with height of footer
.main-div{
  padding-top: 5%;
  padding-bottom: 5%;
}

//size of the image in the card
.image-size{
  padding: 60px;
}

//gradient button of the card
.btn-grad {
  width: 185px;
  font-family: $font_family_1;
  font-weight: 600;
  line-height: 1;
}

//size of button in the card
.div-btn {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: $break_large){
  .btn-grad {
    width: 185px;
    margin: -1rem;
    line-height: 1;
  }
}

@media (max-width: $break_medium){
  .main-div{
    padding-top: 20%;
    padding-bottom: 10%;
  }

  .btn-grad {
    width: 185px;
    font-family: $font_family_1;
    font-weight: 600;
    line-height: 1;
    margin: 0rem;
  }

  .card-div {
    padding-bottom: 20px;
  }
}

@media (max-width: $break_small){
  .main-div{
    padding-top: 30%;
    padding-bottom: 10%;
  }
}

@media (max-width: $break_extrasmall){
  .card-div {
    padding-left: 70px !important;
    padding-right: 70px !important;
  }

  .btn-grad {
    width: 185px;
    font-family: $font_family_1;
    font-weight: 600;
    line-height: 1;
    margin: 0rem;
  }
}

@media (max-width: $break_eextrasmall){

  .btn-grad {
    width: 140px;
    font-family: $font_family_1;
    font-weight: 600;
    line-height: 1;
    margin: 0rem;
    font-size: 10px;
  }

  .card-div {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }

  .image-size {
    padding: 35px;
  }

  .main-div{
    padding-top: 35%;
    padding-bottom: 10%;
  }
}
/*#endregion */
