<div class="page-container">
  <div class="container main-div" id="content-wrap">
    <!-- Bread crumb -->
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-primary">Dashboard</h3>
      </div>
      <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="javascript:void(0)">Admin</a>
          </li>
          <li class="breadcrumb-item">Dashboard</li>
        </ol>
      </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Grid row -->
    <div class="row card-size  ">
      <!-- Grid column -->
      <!-- users card -->
      <div class="col-lg-3 col-xs-6 col-sm-6 col-lg-2 card-div">
        <mdb-card>
          <mdb-card-img class="image-size" src="../../../../assets/images/menuCat.png" alt="users"></mdb-card-img>
          <h2 style="text-align:center; color: #ED6919">{{totalMenuCategories}}</h2>
          <mdb-card-body>
            <div class="text-center div-btn ">
              <a  mdbBtn  class="gradient-btn btn-grad"
                mdbWavesEffect>Menu Category</a>
            </div>
          </mdb-card-body>
        </mdb-card>
      </div>
      <!-- auctions card -->
      <div class="col-lg-3 col-xs-6 col-sm-6 col-lg-2 card-div">
        <mdb-card>
          <mdb-card-img class="image-size" src="../../../../assets/images/menu.png" alt="auctions"></mdb-card-img>
          <h2 style="text-align:center; color: #ED6919">{{totalMenus}}</h2>
          <mdb-card-body>
            <div class="text-center div-btn">
              <a  mdbBtn  class="gradient-btn btn-grad"
                mdbWavesEffect>Total Menu</a>
            </div>
          </mdb-card-body>
        </mdb-card>
      </div>
      <!-- approvals card -->
      <div class="col-lg-3 col-xs-6 col-sm-6 col-lg-2 card-div">
        <mdb-card>
          <mdb-card-img class="image-size" src="../../../../assets/images/approvals.png" alt="approvals"></mdb-card-img>
         <h2 style="text-align:center; color: #ED6919">{{totalOrders}}</h2>
          <mdb-card-body>
            <div class="text-center div-btn">
              <a  mdbBtn  class="gradient-btn btn-grad"
                mdbWavesEffect>Total Order</a>
            </div>
          </mdb-card-body>
        </mdb-card>
      </div>
      <!-- arbitrations card -->
      <div class="col-lg-3 col-xs-6 col-sm-6 col-lg-2 card-div">
        <mdb-card>
          <mdb-card-img class="image-size" src="../../../../assets/images/users.png" alt="arbitrations">
          </mdb-card-img>
         <h2 style="text-align:center; color: #ED6919">{{totalUsers}}</h2>
          <mdb-card-body>
            <div class="text-center div-btn">
              <a  mdbBtn  class="gradient-btn btn-grad"
                mdbWavesEffect>Total User</a>
            </div>
          </mdb-card-body>
        </mdb-card>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
</div>
